<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Advanced React Application Example</title>
  </head>
  <body>
    <h2>Hello, EJS</h2>
    <h1>20 plus 22 is <%= answer %></h1>
  </body>
</html>
